
        body {
            background-image: url(../resources/dark_bg.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
            color: white
        }
        
        h1 {
            font-size: 600%;
        }
        
        h3 {
            font-size: 250%;
        }
        
        p {
            font-size: 150%;
        }
		
		a {
			color: White;
		}
		
		a:link {
            color: White;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:visited {
            color: White;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:hover {
            color: gray;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
		td {
			color: white;
		}
		tr {
			color: white;
		}	